.Navbar {
  align-self: center;
  width: 815px;
  height: 58px;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 36px;
  padding-right: 36px;
  justify-content: space-between;
  margin-top: 10px;
}

.Navbar a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
}

.Navbar .active {
  opacity: 1;
}

.Navbar-menu {
  display: flex;
  gap: 45px;
  align-items: center;
}

.navbar-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Navbar-admin {
  align-self: center;
  width: 100%;
  top: 0;
  height: 35px;

  border: none;

  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-size: 18px;
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.Navbar-admin a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
}

.Navbar-admin .active {
  opacity: 1;
}

.Navbar-menu-admin {
  display: flex;
  gap: 45px;
  align-items: center;
}
